/**
 * Adjustments for Radio input element.
 *
 * @author Michael Haschke
 */

.mdl-radio-group {
    margin-bottom: $typo-body-1-margin-bottom;

    & > div {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;;

        & > * {
            min-width: 5em;
            flex-grow: 1;
            margin-right: $ecc-size-block-whitespace;
            margin-bottom: 0.5 * $ecc-size-block-whitespace;
        }
    }

    & > ul, & > ol {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
        }
    }
}

.mdl-radio--hiddenlabel {
    .mdl-radio__label {
        display: block;
        position: absolute;
        bottom: 200vh;
        right: 200vw;
    }
}

.mdl-radio__outer-circle,
.mdl-radio__inner-circle {
    // move thickness of border to top that element looks vertically centered
    margin-top: -2px;
}
