/**
 * Adjustments for Checkbox input element.
 *
 * @author Michael Haschke
 */

.mdl-checkbox--hiddenlabel {
    .mdl-checkbox__label {
        display: block;
        position: absolute;
        bottom: 200vh;
        right: 200vw;
    }
}
