/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-menu__item {
    &.has-contextblock {
        padding-right: calc(1.5rem + 24px);
    }
}


.mdl-menu__item-contextmenu {
    display: block;
    position: absolute;
    height: 32px;
    right: 16px;
    top: 50%;
    margin-top: -16px;

    .material-icons {
        vertical-align: middle;
    }
}
