/**
 * Copyright 2018 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

// we use MDL data table rules as basic styles
@import "datatable";

.ecc-table__wrapper--autoscroll {
    // only necessary for scrolling issues, e.g. when table is too wide for viewport
    overflow: auto;
}

.mdl-data-table {
    // we do not use onw class here but extend already existing data table className

    tr {
        &.is-clickable {
            cursor: pointer;
            cursor: hand;
        }
    }

    // Justify Chips: alter size of mdl chip inside a cell, otherwise they lead to increased table cells
    .mdl-chip__text,
    .mdl-chip {
        font-size: inherit;
    }
    td, th {
        & > .mdl-chip,
        & > div[class] .mdl-chip {
            & {
                height: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
                line-height: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
                margin-top: -1 * $ecc-size-inlineelement-padding-vertical;
                margin-bottom: 2 * $ecc-size-inlineelement-padding-vertical;
                margin-right: $ecc-size-inlineelement-padding-vertical;
            }
        }
    }
    &:not(.mdl-data-table--multiline) {
        tbody:not(.mdl-data-table--multiline),
        tbody:not(.mdl-data-table--multiline) {
            tr:not(.mdl-data-table--multiline) {
                th:not(.mdl-data-table--multiline),
                td:not(.mdl-data-table--multiline) {
                    & > .mdl-chip,
                    & > div[class] .mdl-chip {
                        & {
                            margin-bottom: -1 * $ecc-size-inlineelement-padding-vertical;
                        }
                    }
                }
            }
        }
    }
    thead {
        .mdl-chip {
            margin-right: 0;
            margin-bottom: -1 * $ecc-size-inlineelement-padding-vertical;
        }
    }

    // Justify Buttons
    td, th {
        & > .mdl-button,
        & > div[style] > .mdl-button,
        & > .contextmenu-container > .mdl-button {
            font-size: inherit;
            height: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
            line-height: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
            margin-top: -1 * $ecc-size-inlineelement-padding-vertical;
            margin-bottom: -1 * $ecc-size-inlineelement-padding-vertical;
            white-space: nowrap;
        }
        & > .mdl-button--icon,
        & > div[style] > .mdl-button--icon,
        & > .contextmenu-container > .mdl-button--icon {
            min-width: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
            width: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
        }

        .material-icons {
            vertical-align: middle;
        }
    }
    thead {
        .material-icons {
            font-size: inherit;
        }
    }
    tbody {
        .material-icons {
            font-size: 1.5rem; // TODO calculate with config values
        }
    }

    // Justify checkbox select inputs
    .mdl-checkbox {
        font-size: inherit;
        height: 1.5em; // TODO calculate with config values

        .mdl-checkbox__input,
        .mdl-checkbox__label {
            font-size: inherit;
            line-height: 1.5em;
            vertical-align: middle;
        }

        .mdl-checkbox__box-outline,
        .mdl-checkbox__focus-helper {
            top: calc((1.5em - 16px) / 2);
        }
    }

    // Justify radio select inputs
    .mdl-radio {
        font-size: inherit;
        height: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
        line-height: calc(1.5em + 2 * #{$ecc-size-inlineelement-padding-vertical}); // TODO calculate with config values
        margin-top: -1 * $ecc-size-inlineelement-padding-vertical;
        margin-bottom: -1 * $ecc-size-inlineelement-padding-vertical;

        .mdl-radio__input,
        .mdl-radio__label {
            font-size: inherit;
            //line-height: 1.5em;
            vertical-align: middle;
        }
    }
}

// multiline: allow linebreaks and multilined content in table cells
.mdl-data-table--multiline > thead > tr > td, // class on table
.mdl-data-table--multiline > tbody > tr > td,
.mdl-data-table--multiline > thead > tr > th,
.mdl-data-table--multiline > tbody > tr > th,
table > .mdl-data-table--multiline > tr > td, // class on thead or tbody
table > .mdl-data-table--multiline > tr > th,
table > thead > .mdl-data-table--multiline > td, // class on row
table > tbody > .mdl-data-table--multiline > td,
table > thead > .mdl-data-table--multiline > th,
table > tbody > .mdl-data-table--multiline > th,
table > thead > tr > td.mdl-data-table--multiline, // class on cell
table > tbody > tr > td.mdl-data-table--multiline,
table > thead > tr > th.mdl-data-table--multiline,
table > tbody > tr > th.mdl-data-table--multiline {
    white-space: normal;
    vertical-align: top;
    overflow: unset;

    br {
        content: normal;
        display: block;

        &:before, &:after {
            content: normal;
        }
    }
}

// preventCellOverflow: prevent overlowing content in table cells
.mdl-data-table--preventoverflow > thead > tr > td, // class on table
.mdl-data-table--preventoverflow > tbody > tr > td,
.mdl-data-table--preventoverflow > thead > tr > th,
.mdl-data-table--preventoverflow > tbody > tr > th,
table > thead > .mdl-data-table--preventoverflow > td, // class on row
table > tbody > .mdl-data-table--preventoverflow > td,
table > thead > .mdl-data-table--preventoverflow > th,
table > tbody > .mdl-data-table--preventoverflow > th,
table > thead > tr > td.mdl-data-table--preventoverflow, // class on cell
table > tbody > tr > td.mdl-data-table--preventoverflow,
table > thead > tr > th.mdl-data-table--preventoverflow,
table > tbody > tr > th.mdl-data-table--preventoverflow {
    overflow: hidden;
    text-overflow: ellipsis;
}
