/**
 * Copyright 2017 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-chip {
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0.13);

    &:active {
        background-color: rgba(0, 0, 0, 0.17);
    }
}

.mdl-chip__contact {
    background-color: rgba(0, 0, 0, 0.54);
    color: $chip-bg-color;
}

a.mdl-chip,
button.mdl-chip {
    cursor: pointer;

    &:hover {
        @extend .mdl-chip:focus;
    }
}
