/**
 * Copyright 2016 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.ecc-gui-elements__pagination {
    @include typo-body-1;
    font-size: $data-table-font-size;
    line-height: 1.5rem; // like in table, TODO: use value from configuration
    // flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: flex-end;
    align-items: center;
    padding: $ecc-size-inlineelement-padding-vertical $ecc-size-inlineelement-padding-horizontal;

    .mdl-button {
        margin: calc((32px - 1.5rem) / -4) calc((32px - 1.5rem) / -2);
    }
}

.ecc-gui-elements__pagination--disabled {
    opacity: 0.61;
}

.ecc-gui-elements__pagination-summary {
    margin-right: 0.5 * $ecc-size-blockelement-margin-horizontal;
}

.ecc-gui-elements__pagination-limit {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 0.5 * $ecc-size-blockelement-margin-horizontal;
}

.ecc-gui-elements__pagination-limit_text {
    margin-right: 0.5 * $ecc-size-blockelement-margin-horizontal;
    white-space: nowrap;
}

.ecc-gui-elements__pagination-limit_size {
    display: inline-block;
    vertical-align: middle;

    .Select {
    }

    .Select-control {
        height: auto;
        width: auto;
    }

    .Select-value {
        width: auto;
        height: auto;
        line-height: inherit !important;
    }

    .Select-input {
        height: auto;
        min-width: 2.5em;
    }
}

.ecc-gui-elements__pagination-actions {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.ecc-gui-elements__pagination-pageInfo {
    white-space: nowrap;
}

.ecc-gui-elements__pagination__pagenumber {
    width: 32px;
    font-size: inherit;
    vertical-align: middle;
    margin: 0 $ecc-size-blockelement-margin-horizontal / 2;
    padding: 0;

    .mdl-textfield__input {
        font-size: inherit;
        width: 32px;
    }

    .mdl-textfield__error {
        white-space: nowrap;
    }
}
