/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

// TODO: we probably can remove this after upgrade to MDL 1.0.5+
.mdl-checkbox__tick-outline {
    mask: url("~material-design-lite/src/images/tick-mask.svg?embed");

    .mdl-checkbox.is-checked & {
        background: $checkbox-color url("~material-design-lite/src/images/tick.svg?embed");
    }

    .mdl-checkbox.is-checked.is-disabled & {
        background: $checkbox-disabled-color url("~material-design-lite/src/images/tick.svg?embed");
    }
}
