/**
 * Copyright 2016 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

// react-select styles
@import "~react-select/dist/react-select.css";

$input-height: $input-text-font-size + 2 * $input-text-padding;

.Select-control {
    border-style: none none solid none;
    border-radius: 0;
    border-color: $input-text-bottom-border-color;
    height: $input-height;

    .Select.is-focused > & {
        outline: none;
        border-color: $input-text-highlight-color;
        border-bottom-width: 2px;
    }

    .Select.is-focused:not(.is-open) > &,
    .Select.is-open > & {
        border-color: $input-text-bottom-border-color;
        box-shadow: none;
    }

    .Select.is-disabled > & {
        cursor: not-allowed;

        .Select-value-label {
            cursor: not-allowed;
        }
    }
}

.Select-arrow-zone {
    height: $input-height;
}

.Select--multi {
    .Select-multi-value-wrapper {
        white-space: normal;
        max-width: calc(100% - 25px);
        overflow: hidden;
    }

    .Select-value-label {
        padding-left: 0;
    }
}

.Select-value {
    line-height: $input-height;

    .Select--multi & {
        margin-left: 0;
        margin-right: $ecc-size-block-whitespace / 4;
        margin-top: ($input-height - $typo-body-1-font-size) / 2;
        //display: inline-flex;
        //flex-direction: row-reverse;
        border-color: darken($chip-bg-color, 5%);
        background: $chip-bg-color;
        border-radius: $button-border-radius;
        color: $text-color-primary;
        // white-space: nowrap;
        max-width: 100%;
        font-size: $typo-caption-font-size;
    }

    .Select--single > .Select-control & {
        padding-left: 0;
        line-height: $input-height;
    }

    .Select--single.is-focused:not(.is-pseudo-focused) & {
        opacity: 0.39;
    }
}

.Select-value-icon {
    .Select--multi & {
        border: none;
        display: inline-block;
        padding: 0;
        width: 1.5rem;
        text-align: center;
        vertical-align: middle;

        &:hover {
            background-color: transparent;
        }
    }
}

.Select-value-label {
    .Select--multi & {
        padding-left: 0;
    }
    .Select-value-icon + & {
        max-width: calc(100% - 1.5rem);
    }
}

.Select-clear-zone .mdl-button.mdl-button--clearance {
    bottom: auto;
    position: relative;
    color: $text-color-primary;
}

.Select-input {
    padding-left: 0;
    padding-right: 35px;
    height: $input-height;

    .Select.is-clearable & {
        padding-right: 55px;
    }

    .Select--multi & {
        margin-left: 0;
    }

    .Select.is-pseudo-focused & {
        caret-color: transparent;
    }
}

.Select-menu-outer {
    margin-top: 0;
    z-index: 9999;

    .Select--optionsontop & {
        top: auto;
        bottom: 100%;
        margin-bottom: -1px;
    }
}

.Select-option {
    @include typo-body-1();
}
