/**
 * Copyright 2016 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

// react-select styles
@import "~react-select/dist/react-select.css";

.Select-control {
    border-style: none none solid none;
    border-radius: 0;
    border-color: $input-text-bottom-border-color;

    .is-focused:not(.is-open) > &,
    .is-open > & {
        border-color: $input-text-bottom-border-color;
        box-shadow: none;
    }

    .is-focused:not(.mdl-textfield) > & {
        border-color: $input-text-highlight-color;
        border-bottom-width: 2px;
    }
}

.Select-value {

    .Select--multi & {
        margin-left: 0;
        margin-right: 5px;
        margin-top: 5px;
    }

    .Select--single > .Select-control & {
        padding-left: 0;
    }
}

.Select-menu-outer {
    margin-top: 0;
}
