/**
 * Copyright 2016 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-tooltip.is-active {

    button[disabled] + & {
        /*
            Workaround to prevent mouseleave problem with disabled form elements
            @see https://openproject.brox.de/work_packages/11918
            drawback: tooltips never shown on disabled buttons
        */
        display: none;
    }

    th &, td & {
        white-space: normal;
    }
}
