// -- Import CSS from react-datetime -------------------------------------------------
@import "~react-datetime/css/react-datetime.css";

div.rdt {
    .mdl-textfield {
        padding-bottom: 0;
    }

    .mdl-textfield__label:after {
        bottom: 0;
    }

    padding-bottom: $input-text-vertical-spacing;

    div.rdtPicker {
        @include shadow-2dp();
        background: $default-dropdown-bg-color;
        color: $button-secondary-color;
        border: none;
        padding: 0;
        font-size: 1rem;
        width: 7 * 3em;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            border: none;
            font-size: 1rem;
            width: 7 * 3em;
        }

        thead, tbody, tfoot {
            tr {
                transition: none;
                height: auto;

                &:hover {
                    background-color: transparent;
                }
            }

            th, td {
                font-size: 1em;
                text-align: center;
                vertical-align: middle;
                padding: 0;
                height: 2.5em;
                width: 3em;
                line-height: 1;
                border: none;
                color: $button-secondary-color;

                &:first-of-type,
                &:last-of-type {
                    padding: 0;
                    text-align: center;
                }

            }

            th.rdtNext, th.rdtPrev {
                font-size: 2em;
                height: 1em;
                width: auto;
                vertical-align: middle;
                font-weight: 300;
            }

            td.rdtOld, td.rdtNew {
                color: $button-secondary-color-disabled;
            }

            td.rdtToday:before {
                border-bottom-color: $ecc-color-accent;
            }

            td.rdtActive.rdtToday:before {
                border-bottom-color: $default-dropdown-bg-color;
            }

            td.rdtDay, td.rdtHour, td.rdtMinute, td.rdtSecond, .rdtTimeToggle {
                &:hover, &:focus {
                    background-color: $button-hover-color;
                }
            }

            td.rdtActive, td.rdtActive:hover {
                color: $ecc-color-accent-contrast;
                background-color: $ecc-color-accent;
            }
        }

        thead {
            tr:first-child {
                th {
                    height: 1em;
                    border-bottom: $data-table-dividers;

                    &.rdtSwitch {
                        height: 3em;
                    }
                }
            }
        }

        tfoot {
            td, td:first-of-type, td:last-of-type {
                height: 3em;
                border-top: $data-table-dividers;
            }
        }
    }
}
