/**
 * Copyright 2016 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-button {
    &.mdl-button--danger {
        color: to_color($palette-red-800);
    }

    &.mdl-button--clearance:not(.mdl-button--raised) {
        opacity: 0.39;

        &:focus, &:hover, &:active {
            opacity: 1;
            color: to_color($palette-red-800);
            background-color: transparent;
        }
    }

    &.mdl-badge {
        overflow: visible;
    }

    .material-icons.mdl-badge[data-badge]:after {
        right: -10px;
    }

    &--accent.mdl-badge[data-badge]:after,
    &--accent .material-icons.mdl-badge[data-badge]:after {
        border: 1px solid $badge-color;
    }
}

.mdl-button--raised {
    &.mdl-button--danger {
        background-color: to_color($palette-red-800);
        color: to_color($palette-red-50);
    }

    &.mdl-button--clearance {
        &:focus, &:hover, &:active {
            background-color: $button-primary-color;
            color: to_color($palette-red-800);
        }
    }
}

.mdl-button--fab {
    width: $button-fab-size;
    height: $button-fab-size;
    min-width: unset;
}
