/**
 * Copyright 2016 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-button {
    &.mdl-button--danger {
        color: $palette-red-800;
    }
}

.mdl-button--raised {
    &.mdl-button--danger {
        background-color: $palette-red-800;
        color: $palette-red-50;
    }
}
