.ecc-component-footer {
    @include typo-caption();

    .mdl-mini-footer {
        padding-top: $ecc-size-block-whitespace / 4;
        padding-bottom: $ecc-size-block-whitespace / 4;
    }

    ul, ol {
        font-size: inherit;
        line-height: inherit;
    }

    a {
        color: lighten($footer-color, 25%);
    }
}
