/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-textfield--reduced {
    padding-bottom: 0;

    .mdl-textfield__label:after {
        bottom: 0;
    }
}

.mdl-textfield--clearable {
    position: relative;

    .mdl-textfield__input {
        box-sizing: border-box;
        padding-right: $button-height;
    }
}

.mdl-input__clearable-holder {
    display: block;
    left: 100%;
    margin-left: -1 * $button-height;
    position: relative;
    top: $input-text-vertical-spacing;

    & > div[style] {
        display: block !important;
    }

    .mdl-textfield--multiline & {
        position: absolute;
        top: 68px;
    }
}

textarea.mdl-textfield__input {
    margin-top: $input-text-padding;
    padding-top: 0;
}

.mdl-textfield__input[readonly] {

    cursor: normal;
    color: rgba(0, 0, 0, 0.54);

    & + .mdl-textfield__label {
        color: rgba(0, 0, 0, 0.26);

        &:after {
            display: none;
        }
    }
}

.mdl-textfield__label {
    .mdl-textfield--floating-label.is-focused &,
    .mdl-textfield--floating-label.is-dirty &,
    .mdl-textfield--floating-label.has-placeholder & {
        top: $input-text-vertical-spacing - $input-text-floating-label-fontsize;
    }

    .material-icons {
        font-size: 1.25em;
        vertical-align: text-bottom;
    }
}
