/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-spinner--global,
.mdl-spinner--local {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -1/2 * $typo-icon-font-size;
    margin-left: -1/2 * $typo-icon-font-size;
    z-index: 32000;
}

.mdl-spinner--local {
    position: absolute;
    top: 25%;
}
