/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-dialog {
    display: none;
    box-sizing: border-box;
    max-width: 90%;
    z-index: 1000;
    width: 40rem;

    &.mdl-dialog--mini {
        width: 20rem;
    }

    &.mdl-dialog--large {
        width: 60rem;
    }

    &.is-activated {
        display: block;
    }
}

.mdl-dialog__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.mdl-dialog__modalbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary-contrast;
    opacity: 0.54;
    z-index: -1;
}

.mdl-dialog__content {
    max-height: calc(70vh - #{$typo-title-font-size} - 2 * #{$card-vertical-padding} - #{$button-height});
    overflow: auto;
    overflow-x: hidden;
}

.mdl-dialog__actions {
    flex-direction: row-reverse;
}
