/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-dialog {
    display: none;
    background: $card-background-color;
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 90%;
    z-index: 1000;
    width: 40rem;
    
    &.mdl-dialog--mini {
        width: 20rem;
    }
    
    &.mdl-dialog--large {
        width: 60rem;
    }
    
    &.is-activated {
        display: block;
    }
}

.mdl-dialog__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.mdl-dialog__modalbackground {
    @extend html;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.54;
    z-index: 999;
}

.mdl-dialog__title {
    padding: 24px 24px 0 24px;
}

.mdl-dialog__title-text {
    font-size: 20px;
}

.mdl-dialog__content {
    padding: 0 24px 24px 24px;
    margin-top: 24px;
    max-height: 40rem;
    max-height: 70vh;
    max-height: calc(70vh - 52px - 68px);
    overflow: auto;
    overflow-x: none;
}

.mdl-dialog__actions {
    display: flex;
    justify-content: flex-end;
    padding: 8px 8px 8px 24px;
    
    & > * {
        margin-left: 8px;
    }
}
