/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 *
 * Configuration used for MDL and beyond.
 */

// -- Load helper functions ----------------------------------------------------

@import "scss/helpers";

// -- Load MDL color definitions -----------------------------------------------

@import "~@eccenca/material-design-lite/src/color-definitions";

// -- Configuration stack of colors --------------------------------------------

/*
    We use ecc- prefix here to have an distinction to native MDL color
    variables. Variables are only defined if they are not set before. Use those
    variables to overwrite the default look of the application.
*/

$ecc-color-primary: rgb(254, 143, 1) !default;
$ecc-color-primary-contrast: $color-dark-contrast !default;
$ecc-color-accent: rgb(10, 103, 163) !default;
$ecc-color-accent-contrast: $color-dark-contrast !default;

$ecc-color-application-background: $palette-grey-300 !default;
$ecc-color-application-text: $palette-grey-900 !default;

$ecc-color-success-background: $palette-green-50 !default;
$ecc-color-success-text: $palette-green-800 !default;
$ecc-color-info-background: $palette-blue-50 !default;
$ecc-color-info-text: $palette-blue-800 !default;
$ecc-color-warning-background: $palette-orange-50 !default;
$ecc-color-warning-text: $palette-orange-800 !default;
$ecc-color-danger-background: $palette-red-50 !default;
$ecc-color-danger-text: $palette-red-800 !default;

// -- Configuration stack of sizes ---------------------------------------------

/*
    We use ecc- prefix here to have an distinction to native MDL variables. All
    variables are only defined if they are not set before. Use those
    variables to overwrite the default look of the application.
*/

$ecc-size-typo-display-3: 42px !default;
$ecc-size-typo-display-2: 35px !default;
$ecc-size-typo-display-1: 28px !default;
$ecc-size-typo-headline: 21px !default;
$ecc-size-typo-title: 18px !default;
$ecc-size-typo-subtitle: 16px !default;
$ecc-size-typo-text: 14px !default;
$ecc-size-typo-caption: 11px !default;

$ecc-size-blockelement-margin-vertical: 1rem !default;
$ecc-size-blockelement-margin-horizontal: 1rem !default;
$ecc-size-blockelement-padding-vertical: 1rem !default;
$ecc-size-blockelement-padding-horizontal: 1rem !default;

$ecc-size-inlineelement-margin-vertical: 0.5rem !default; // currently unused in GUI elements
$ecc-size-inlineelement-margin-horizontal: 0.5rem !default; // currently unused in GUI elements
$ecc-size-inlineelement-padding-vertical: 0.25rem !default;
$ecc-size-inlineelement-padding-horizontal: 0.25rem !default;

// -- Load MDL variables and mixins --------------------------------------------

@import "./configuration.mdl"; // calculation MDL config with our changes
@import '~@eccenca/material-design-lite/src/variables'; // original MDL configuration as fallback
@import '~@eccenca/material-design-lite/src/mixins'; // original MDL mixins
