
// -- Navigation left ----------------------------------------------------------

.navigation-component,
.graphlist-component {
    .btn {
        color: @text-color;
        font-weight: normal;
    
        &.btn-selected {
            color: @color-brand;
            font-weight: bold;
        }
        
        &.mdi-navigation-expand-more {
            color: @color-brand;
        }
    }
    
    .row {
        .col-xs-2 {
            width: 54px;
        }
    }
}

