@import "../node_modules/bootstrap/less/bootstrap.less";
@import "../node_modules/bootstrap-material/less/material-wfont.less";
@import "../node_modules/bootstrap-material/less/ripples.less";

/* columns overrides */
.col-right {
    padding-left: 0;
}
.col-left {
    text-align: right;
    padding-right: 0;
}

/* buttons */
.btn-fab-xx {
    padding: 8px !important;
    font-size: 24px !important;
    width: 40px !important;
    height: 40px !important;
}
.btn-fab-xxs {
    padding: 9px !important;
    font-size: 18px !important;
    width: 36px !important;
    height: 36px !important;
}
.btn-fab-xxxs {
    padding: 5px !important;
    font-size: 14px !important;
    width: 24px !important;
    height: 24px !important;
}
.flat-fab {
    box-shadow: none !important;
}
.btn-nomargin {
    margin-top: 0;
    margin-bottom: 0;
}
.btn-fullwidth {
    width: 100%;
    text-align: left;
    padding-left: 5px;
    text-transform: none;
}
.flat-fab {
    box-shadow: none !important;
}

/* input */
.input-group-addon-transparent {
    background-color: rgba(0,0,0,0);
}

/* badge */
.badge-info-count {
    color: #fff !important;
    background-color: #ffa726 !important;
    top: 0 !important;
}
