@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../node_modules/bootstrap-material/sass/material";
@import "../node_modules/bootstrap-material/sass/ripples";

.g-elds-container {
    @extend .container;
}
.g-elds-container-fluid {
    @extend .container-fluid;
}

/* rows */
.g-elds-row {
    @extend .row;
}

/* columns overrides */
.g-elds-col-xs-1 {
    @extend .col-xs-1;
}
.g-elds-col-xs-2 {
    @extend .col-xs-2;
}
.g-elds-col-xs-3 {
    @extend .col-xs-3;
}
.g-elds-col-xs-4 {
    @extend .col-xs-4;
}
.g-elds-col-xs-5 {
    @extend .col-xs-5;
}
.g-elds-col-xs-6 {
    @extend .col-xs-6;
}
.g-elds-col-xs-7 {
    @extend .col-xs-7;
}
.g-elds-col-xs-8 {
    @extend .col-xs-8;
}
.g-elds-col-xs-9 {
    @extend .col-xs-9;
}
.g-elds-col-xs-10 {
    @extend .col-xs-10;
}
.g-elds-col-xs-11 {
    @extend .col-xs-11;
}
.g-elds-col-xs-12 {
    @extend .col-xs-12;
}
.g-elds-col-sm-1 {
    @extend .col-sm-1;
}
.g-elds-col-sm-2 {
    @extend .col-sm-2;
}
.g-elds-col-sm-3 {
    @extend .col-sm-3;
}
.g-elds-col-sm-4 {
    @extend .col-sm-4;
}
.g-elds-col-sm-5 {
    @extend .col-sm-5;
}
.g-elds-col-sm-6 {
    @extend .col-sm-6;
}
.g-elds-col-sm-7 {
    @extend .col-sm-7;
}
.g-elds-col-sm-8 {
    @extend .col-sm-8;
}
.g-elds-col-sm-9 {
    @extend .col-sm-9;
}
.g-elds-col-sm-10 {
    @extend .col-sm-10;
}
.g-elds-col-sm-11 {
    @extend .col-sm-11;
}
.g-elds-col-sm-12 {
    @extend .col-sm-12;
}
.g-elds-col-md-1 {
    @extend .col-md-1;
}
.g-elds-col-md-2 {
    @extend .col-md-2;
}
.g-elds-col-md-3 {
    @extend .col-md-3;
}
.g-elds-col-md-4 {
    @extend .col-md-4;
}
.g-elds-col-md-5 {
    @extend .col-md-5;
}
.g-elds-col-md-6 {
    @extend .col-md-6;
}
.g-elds-col-md-7 {
    @extend .col-md-7;
}
.g-elds-col-md-8 {
    @extend .col-md-8;
}
.g-elds-col-md-9 {
    @extend .col-md-9;
}
.g-elds-col-md-10 {
    @extend .col-md-10;
}
.g-elds-col-md-11 {
    @extend .col-md-11;
}
.g-elds-col-md-12 {
    @extend .col-md-12;
}
.g-elds-col-lg-1 {
    @extend .col-lg-1;
}
.g-elds-col-lg-2 {
    @extend .col-lg-2;
}
.g-elds-col-lg-3 {
    @extend .col-lg-3;
}
.g-elds-col-lg-4 {
    @extend .col-lg-4;
}
.g-elds-col-lg-5 {
    @extend .col-lg-5;
}
.g-elds-col-lg-6 {
    @extend .col-lg-6;
}
.g-elds-col-lg-7 {
    @extend .col-lg-7;
}
.g-elds-col-lg-8 {
    @extend .col-lg-8;
}
.g-elds-col-lg-9 {
    @extend .col-lg-9;
}
.g-elds-col-lg-10 {
    @extend .col-lg-10;
}
.g-elds-col-lg-11 {
    @extend .col-lg-11;
}
.g-elds-col-lg-12 {
    @extend .col-lg-12;
}
.g-elds-col-right, .col-right {
    padding-left: 0;
}
.g-elds-col-left, .col-left {
    text-align: right;
    padding-right: 0;
}

/* navbar */
.g-elds-navbar {
    @extend .navbar;
}
.g-elds-navbar-default {
    @extend .navbar-default;
}
.g-elds-navbar-fixed-top {
    @extend .navbar-fixed-top;
}
.g-elds-navbar-header {
    @extend .navbar-header;
}
.g-elds-navbar-toggle {
    @extend .navbar-toggle;
}
.g-elds-sr-only {
    @extend .sr-only;
}
.g-elds-icon-bar {
    @extend .icon-bar;
}
.g-elds-navbar-brand {
    @extend .navbar-brand;
}
.g-elds-collapse {
    @extend .collapse;
}
.g-elds-navbar-collapse {
    @extend .navbar-collapse;
}
.g-elds-nav {
    @extend .nav;
}
.g-elds-navbar-nav {
    @extend .navbar-nav;
}
.g-elds-navbar-right {
    @extend .navbar-right;
}
.g-elds-form-group {
    @extend .form-group;
}
.g-elds-form-control {
    @extend .form-control;
}
.g-elds-well {
    @extend .well;
}

/* buttons */
.g-elds-btn {
    @extend .btn;
}
.g-elds-btn-default {
    @extend .btn-default;
}
.g-elds-btn-link {
    @extend .btn-link;
}
.g-elds-btn-fab {
    @extend .btn-fab;
}
.g-elds-btn-fab-xs, .btn-fab-xx {
    padding: 8px !important;
    font-size: 24px !important;
    width: 40px !important;
    height: 40px !important;
}
.g-elds-btn-fab-xxs, .btn-fab-xxs {
    padding: 9px !important;
    font-size: 18px !important;
    width: 36px !important;
    height: 36px !important;
}
.g-elds-btn-fab-xxxs, .btn-fab-xxxs {
    padding: 5px !important;
    font-size: 14px !important;
    width: 24px !important;
    height: 24px !important;
}
.g-elds-flat-fab, .flat-fab {
    box-shadow: none !important;
}
.g-elds-btn-nomargin, .btn-nomargin {
    margin-top: 0;
    margin-bottom: 0;
}
.g-elds-btn-fullwidth, .btn-fullwidth {
    width: 100%;
    text-align: left;
    padding-left: 5px;
    text-transform: none;
}
.g-elds-flat-fab, .flat-fab {
    box-shadow: none !important;
}

/* text */
.g-elds-text-muted {
    @extend .text-muted;
}
.g-elds-text-right {
    @extend .text-right;
}

/* alerts */
.g-ecc-alert {
    @extend .alert;
}
.g-ecc-alert-danger {
    @extend .alert-danger;
}
.g-ecc-alert-success {
    @extend .alert-success;
}
.g-ecc-alert-info {
    @extend .alert-info;
}
.g-ecc-alert-warning {
    @extend .alert-warning;
}

/* panels */
.g-elds-panel {
    @extend .panel;
}
.g-elds-panel-default {
    @extend .panel-default;
}
.g-elds-panel-body {
    @extend .panel-body;
}

/* input */
.g-elds-input-group {
    @extend .input-group;
}
.g-elds-input-group-addon {
    @extend .input-group-addon;
}
.g-elds-input-group-addon-transparent, .input-group-addon-transparent {
    background-color: rgba(0,0,0,0);
}
.g-elds-form-control-wrapper {
    @extend .form-control-wrapper;
}
.g-elds-floating-label {
    @extend .floating-label;
}

/* icons */
.g-elds-mdi-action-settings {
    @extend .mdi-action-settings;
}
.g-elds-mdi-navigation-expand-more {
    @extend .mdi-navigation-expand-more;
}

/* badge */
.g-elds-badge {
    @extend .badge;
}
.g-elds-badge-info-count, .badge-info-count {
    color: #fff !important;
    background-color: #ffa726 !important;
    top: 0 !important;
}

/* misc */
.g-elds-pull-right {
    @extend .pull-right;
}
