/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 *
 * Adjustments that we cannot do by configuration.
 */

html, body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html {
    background-color: $layout-bg-color;
}

h1 {
    font-size: $ecc-size-typo-display-3;
}

h2 {
    font-size: $ecc-size-typo-display-2;
}

h3 {
    font-size: $ecc-size-typo-display-1;
}

h4 {
    font-size: $ecc-size-typo-headline;
}

h5 {
    font-size: $ecc-size-typo-title;
}

h6 {
    font-size: $ecc-size-typo-subtitle;
}

// -- Other patches ------------------------------------------------------------

@import "./patches";
