/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 *
 * Adjustments that we cannot do by configuration.
 */

html, body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html {
    background-color: to_color($ecc-color-application-background);
    color: to_color($ecc-color-application-text);
}
