/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-card {
    z-index: auto;
    overflow: visible;
    min-height: 0;
}

.mdl-card--stretch,
.mdl-card--full-width {
    width: auto;
}

.mdl-card__title {
    min-height: calc(#{$button-height} - #{$ecc-size-block-whitespace});
}

.mdl-card__menu {
    display: flex;
    justify-content: flex-end;
    top: calc(0.5 * (#{$button-height} - #{$button-icon-size}));
    right: calc(0.5 * (#{$button-height} - #{$button-icon-size}));
}

.mdl-card__title-text {
    align-self: center;
    line-height: 1;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mdl-card__content {
    margin: 0;
    padding: $ecc-size-block-whitespace/2 $ecc-size-block-whitespace;

    .mdl-grid + & {
        margin-top: -1 * $ecc-size-block-whitespace;
    }

    .mdl-card--has-fixed-actions > .mdl-card__title ~ &:nth-last-child(-n+2) {
        margin-bottom: calc(#{$ecc-size-block-whitespace/2} - #{$button-fab-size});
    }
}

.mdl-card__actions {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(to_color($card-background-color), 0.90);
    min-height: $button-height;
    z-index: 1;

    & > * {
        margin-right: $ecc-size-block-whitespace/2;

        &:last-child {
            margin-right: 0;
        }
    }

    .mdl-card__title.mdl-card--border + &.mdl-card--border {
        border-top: none;
    }
}

.mdl-card__actions--fixed {
    position: sticky;
    bottom: -1 * $ecc-size-block-whitespace;

    .mdl-card__title ~ & {
        margin-top: $button-fab-size;
    }
}

.mdl-card--reduced {
    & > .mdl-card__title {
        padding: 0;
        min-height: $button-height;

        &.mdl-card--border {
            padding-bottom: $ecc-size-block-whitespace/4;
        }
    }

    & > .mdl-card__menu {
        top: 0;
        right: 0;
    }

    & > .mdl-card__content {
        padding: $ecc-size-block-whitespace/4 0;
    }

    & > .mdl-card__actions {
        padding: 0;

        &.mdl-card--border {
            padding-top: $ecc-size-block-whitespace/4;
        }
    }
}

.ecc-floatingactionlist {
    position: absolute;
    bottom: $ecc-size-block-whitespace;
    right: 2 * $ecc-size-block-whitespace;
    height: 0;
    width: 0;
}

.ecc-floatingactionlist__wrapper--fixed {
    position: sticky;
    bottom: -1 * $ecc-size-block-whitespace;
    height: 0;
}

.ecc-floatingactionlist__button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    transition: opacity .2s, width .2s, height .2s, border-radius .2s;
}

.ecc-floatingactionlist__menu {
    position: absolute;
    bottom: 0.61 * $button-fab-size;
    right: 0.61 * $button-fab-size;
    top: auto;
    left: auto;
    height: auto;
    overflow: hidden;
    width: 0;
    min-width: 0;
    max-height: 0;
    padding: 0;
    opacity: 0;
    border-radius: 50%;
    z-index: 0;
    transition: opacity .2s, width .2s, max-height .2s, border-radius .2s;

    .ecc-floatingactionlist--bottommenu & {
        bottom: auto;
        top: -0.39 * $button-fab-size;
    }

    .mdl-button--mini-fab + & {
        bottom: 0.61 * $button-fab-size-mini;
        right: 0.61 * $button-fab-size-mini;

        .ecc-floatingactionlist--bottommenu & {
            bottom: auto;
            top: -0.39 * $button-fab-size-mini;
        }
    }

    .mdl-menu__item {
        opacity: 1;
    }

    .material-icons {
        vertical-align: middle;
        margin-right: 0.5em
    }

    .ecc-floatingactionlist__button.is-active + & {
        width: 20em;
        max-height: 6 * 48px;
        overflow-y: auto;
        background-color: white;
        opacity: 1;
        border-radius: 0;
        z-index: 2;
    }
}
