/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-card {
    z-index: auto; // TODO: check if this value brings up problems
    overflow: visible; // TODO: watch that behaviour
    // occuring problems should be solved by more exact definition of child elements
    min-height: 0;
}

.mdl-card--stretch,
.mdl-card--full-width {
    width: auto;
}

.mdl-card__content {
    margin: $ecc-size-blockelement-margin-vertical $ecc-size-blockelement-margin-horizontal;
    padding: 0;

    .mdl-grid + & {
        margin-top: -1 * $ecc-size-blockelement-margin-vertical;
    }

    .mdl-card--has-fixed-actions > .mdl-card__title ~ &:nth-last-child(-n+2) {
        margin-bottom: calc(#{$ecc-size-blockelement-margin-vertical} - 56px);
    }
}

.mdl-card__actions {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(to_color($card-background-color), 0.90);
    z-index: 1;

    & > * {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    .mdl-card__title.mdl-card--border + &.mdl-card--border {
        border-top: none;
    }
}

.mdl-card__actions--fixed {
    position: sticky;
    bottom: 0;

    .mdl-layout__content & {
        bottom: -2rem;
    }

    .mdl-card__title ~ & {
        margin-top: 56px;
    }
}

.mdl-card--reduced {
    .mdl-card__title {
        padding: 0;
        margin-bottom: $ecc-size-blockelement-margin-vertical;
    }

    .mdl-card__content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
}
