/**
 * Copyright 2015 eccenca GmbH. All Rights Reserved.
 *
 * @author Michael Haschke
 */

.mdl-layout__header {
    .mdl-navigation__link {
        color: rgba(to_color($layout-header-text-color), .61);
        border-bottom: 2px solid transparent;

        &:focus, &:hover {
            color: $layout-header-text-color;
            border-color: inherit;
        }

        &.active {
            color: rgba(to_color($layout-header-text-color), 1);
            border-color: $color-primary;
        }
    }

    .mdl-layout-title {
        padding: $ecc-size-inline-whitespace 0;
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;

        img {
            max-height: 100%;
            width: auto;
            margin-right: $ecc-size-inline-whitespace;
        }
    }
}

.mdl-layout__drawer-button {
    .material-icons {
        vertical-align: middle;
    }
}

hr.mdl-layout-spacer {
    padding: 0;
    margin: 0.5rem 0;
    border: none;
}

.mdl-layout--hide-on-phone {

    @media screen and (max-width: $grid-tablet-breakpoint - 1) {
        position: absolute;
        left: -5000em;
    }
}

.mdl-layout--hide-on-tablet {

    @media screen and (max-width: $grid-desktop-breakpoint - 1) {
        position: absolute;
        left: -5000em;
    }
}

.mdl-layout--hide-on-desktop {

    @media screen and (min-width: $grid-desktop-breakpoint) {
        position: absolute;
        left: -5000em;
    }
}

.mdl-layout--hide-on-screen,
.mdl-layout--hide-for-eyes {
    position: absolute;
    left: -5000em;
}

.mdl-layout--hide-always {
    display: none;
}
